*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: auto;/* 無くてもしていない場合はautoになる */
  height:50px;
  background-color: #FF9A4B;
}

main{
  width:960px;
  margin:50px auto;
  display: flex; 
}

.step-box{
  width: 300px;
  margin-right:30px;
  padding:10px;
  position: relative;/* 復習しておく */
  background-color: #EEEEEE;
}



.step-box-img1{
  width:280px;
  height:150px;
  background-image: url(./img/flow01.png);
  background-position: bottom;/* 復習しておく */
  background-size: cover;/* 復習しておく */
}
.step-box-img2{
  width:280px;
  height:150px;
  background-image: url(./img/flow02.png);
  background-position: bottom;
  background-size: cover;
}
.step-box-img3{
  width:280px;
  height:150px;
  background-image: url(./img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num{
  position: absolute;/* 通常では入れることのできない場所に文字や画像を入れる場合に使う */
  top:0;
  left:0;
  color: aliceblue;/* 文字の色指定 */
  background-color: #FF9A4B;
}

.title{
  margin:15px 0 5px;
}


footer{
  width: auto;
  height:50px;
  background-color: #AAAAAA;
}

@media screen and (max-width:768px) {
  header{
    width:100%;
  }

  main{
    width:100%;
    display:block;
  }

  .step-box{
    width:88%;
    margin:2% auto;
  }

  .step-box-img1{
    width:100%;
    height:180px;
  }

  .step-box-img2{
    width:100%;
    height:180px;
  }

  .step-box-img3{
    width:100%;
    height:180px;
  }

  footer{
    width:100%;
  }
}